<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<%= link_to "New book", new_book_path, class:""%>
<div id="books">
  <% @books.each do |book| %>
  <div class="card">
        <div class="card-body">
            <%= render book %>
            <h3><b><%= link_to book.title , book %></b></h3>
            <h5 align="right">
            <span>
              <%= book.written_at%>
            </span>
          </h5>
        </div>
    <% end %>
  </div>


