<div align="right">
<p style="color: green"><%= notice %></p>
</div>
<h1>Book </h1>

<div class="row">
<% @books.each do |book| %>
<div class="col-md-3">
    <div class="card p-2 mb-2">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                <div class="ms-2 c-details">
                    <h6 class="mb-0">
                        <%= link_to book.title , user_book_path(current_user, book) %>
                        </h6> 
                        <span><%= book.written_at%></span>
                </div>
            </div>
            <div class="badge"> <span>Design</span> </div>
        </div>
        <div class="mt-5">
            <% if book.page.attached?%>
              <%= link_to image_tag(book.page,style:"width:10rem; height:15rem;border-radius:0%;border:2px;solid:#0d6efd;")%>
            <%end%>
             <div class="mt-5">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div class="mt-3">
                    <span class="text1"><%#= link_to "Like", book_like_path(book,@likes), method: :post, remote: true %>        
                    </span> 
                </div>
            </div>
        </div>
        <div class="row mb">
        <div class="col">
            <%= link_to "Edit", edit_user_book_path(current_user,book), class:"btn btn-success"%>
        </div>
        <div class="col">
            <%#= link_to "Back", user_books_path(book), class:"btn btn-warning"%>
        </div>
        <div class="col">
            <%= button_to "Destroy", user_book_path(current_user, book), method: :delete, class:"btn btn-danger" %>
        </div>
        </div>
    </div>
</div>
<% end %>
</div>

