<p style="color: green"><%= notice %></p>

<%= render @book %>

<div class="row mb-3">
  <div class="col">
    <%= link_to "Edit this book", edit_user_book_path(@book), class:"btn btn-success"%>
  </div>
  <div class="col">
  <%= link_to "Back to books", user_books_path, class:"btn btn-warning"%>
</div>
  <div class="col">
  <%= button_to "Destroy this book", user_book_path(current_user, @book), method: :delete, class:"btn btn-danger" %>
</div>
</div>
