<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!-- Pills navs -->
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="/users/sign_in" role="tab"
      aria-controls="pills-login" aria-selected="true">Login</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="/users/sign_up" role="tab"
      aria-controls="pills-register" aria-selected="false">Register</a>
  </li>
</ul>
<!-- Pills navs -->

<!-- Pills content -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <form>
      <div class="text-center mb-3">
        <p>Sign in with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>

      <p class="text-center">or:</p>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <%= f.label :email,class:"form-label" %><br />
        <%= f.email_field :email,class:"form-control" , autofocus: true, autocomplete: "email" %>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
      </div>

      <!-- 2 column grid layout -->
      <div class="row mb-4">
        <div class="col-md-2 justify-content-center">
          <!-- Checkbox -->
          <% if devise_mapping.rememberable? %>
          <div class="form-check mb-3 mb-md-0">
            <%= f.check_box :remember_me, class:"form-check-input"%>
            <%= f.label :remember_me, class:"form-check-label"%>
          </div>
          <%end%>
        </div>
      </div>

      <!-- Submit button -->
      <div class="form-action">
      <%= f.submit "Log in",class:"btn btn-primary btn-block mb-4"%>
    </div>
      

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a href="/users/sign_up">Register</a></p>
      </div>
   <% end %>
    <div class="col-md-2 justify-content-center">
     <%= render "devise/shared/links" %>
    </div>

  </div>
  <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
    <!-- <form>
      <div class="text-center mb-3">
        <p>Sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>

      <p class="text-center">or:</p>
        <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
    </form> -->
  </div>
</div>